@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Livvic:wght@200&family=Quicksand:wght@300&display=swap"); 

.App {
  text-align: center;
  display: flex;
}
body {
  background-color: #d5f4e6 !important;
}

/* navigation */
.nav-items {
  list-style-type: none;
  text-align: right;
  font-size: 30px;
  font-family: 'Livvic', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.nav-item {
  padding-left: 30px;
  color: #618685;
}
.nav-item:hover {
  font-weight: bold !important;
  color: #6bbbc4;
}
.icon {
  font-size: 24px;
}
.planeIcon {
  padding: 8px;
  font-size: 90px;
  position: relative;
  top: -14px;
}
.header-title {
  font-size: 45px;
  font-family: 'Handlee', cursive;
  position: relative;
  top: 10px;
}
/* .active {
  color: #6bbbc4;
  font-weight: bold;
  text-decoration: none;
} */
/* .active:hover {
  color: #80ced6 !important;
  font-weight: bold !important;
} */

/* homepage */
.home {
  margin: auto;
  width: 60%;
  border: 3px solid #618685b9;
  border-radius: 10px;
  padding: 25px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.445);
}
.welcome {
  font-size: 32px;
  font-family: 'Livvic', sans-serif;
  margin-bottom: 30px;
}
.intro {
  font-size: 26px;
  font-family: 'Livvic', sans-serif !important;
  font-weight: lighter;
}
.quizButton {
  background-color: #618685b6 !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 8px;
  font-size: 24px !important;
  font-family: 'Livvic', sans-serif;
  font-weight: bold !important;
  border-color: #618685b6;
}
.quizButton:hover {
  background-color: #6bbbc4af !important;
}

/* links */
.weblinkBody {
  font-size: 24px !important;
  font-family: 'Livvic', sans-serif;
  width: 80%;
}
.webLinks {
  position: relative;
  left: 18%;
}
.introLinks {
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 40px;
}
.fa {
  padding: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  text-decoration: none;
}
.fa1 {
  background: #618685;
  color: white;
}
.fa1:hover {
  background-color: #80ced6;
  color: #618685;
}
.fa2 {
  background: #87bdd8;
  color: white;
}
.fa2:hover {
  background-color: #618685;
  color: #87bdd8;
}
.fa3 {
  background: #80ced6;
  color: white;
}
.fa3:hover {
  background-color: #87bdd8;
  color: #80ced6;
}

/* quiz */
.quiz-body {
  margin: auto;
  width: 75% !important;
  text-align: center !important;
}
.question-count {
  font-size: 32px;
  font-family: 'Livvic', sans-serif;
  padding: 15px;
}
.question-text {
  font-size: 35px;
  font-family: 'Livvic', sans-serif;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 35px;
}
.answer-section {
  margin-top: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
.answer-btn {
  font-size: 23px !important;
  font-family: 'Livvic', sans-serif;
  font-weight: bold !important;
  color:rgb(63, 60, 60) !important;
  margin: 14px;
  background-color: none !important;
}
.btn:hover {
  background-color: #6bbbc4c7 !important;
}
.source {
  font-size: 18px;
  font-family: 'Livvic', sans-serif;
}

/* weather */
.weatherBody {
  margin: auto;
  width: 70%;
  border: 3px solid #618685b9;
  border-radius: 10px;
  padding: 25px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.445);
}
#header {
  font-size: 35px;
  font-family: 'Livvic', sans-serif;
  font-weight: bolder;
}
.input {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px ;
  border-radius: 10px;
  padding: 10px;
}
input:focus {
  outline: none;
}
.city {
  font-size: 28px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: black;
  padding-bottom: 8px;
}
.weather {
  font-size: 28px;
  padding: 13px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: black;
}
.weatherTitle {
  font-size: 28px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-style:normal;
  color: rgb(87, 85, 85) !important;
}
.date {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: gray;
  margin-top: 5px;
}

/* footer */
.cloudFooter {
  position: relative;
  top: 200px;
}
.footer {
  position: relative;
  top: 140px;
  text-align: center;
  font-family: 'Livvic', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.footerLink {
  text-decoration: none;
  color: #618685;
}
.footerLink:hover {
  color: #57bebb;
}







